@page "/session/{id:guid}"

<PageTitle>Session</PageTitle>

@inherits SessionBase

@if (this.SessionViewModel is null || !this.IsConnected)
{
    <p>Loading session...</p>
}
else
{
    @if (!this.IsModerator)
    {
        <Player Model="@this.CurrentPlayer" />
        <Cards Items="@this.PointsViewModel" />
        <br />
        <Score Items="@this.SessionViewModel.Players" />
    }
    else
    {
        // TODO: create Moderator component
        <h3>Session nº @this.SessionViewModel.SessionId</h3>
        <h4>Hi, @this.CurrentPlayer?.Name. You are the moderator.</h4>
        <br />
        <Score Items="@this.SessionViewModel.Players" />
    }
}