@page "/session/{id:guid}"

<PageTitle>Session</PageTitle>

@inherits SessionBase

@if (this.SessionViewModel is null)
{
    <p>Loading session...</p>
}
else
{
    @if (this.CurrentPlayer is not null && !this.CurrentPlayer.IsObserver)
    {
        <Player Model="@this.CurrentPlayer" />
        <Cards Items="@this.PointsViewModel" />
    }
    else
    {
        <h3>Session nº @this.SessionViewModel.SessionId</h3>
        @foreach (var player in this.SessionViewModel.Players)
        {
            <p>Player: @player.Name - Points: @player.Points</p>
        }
    }
}