@inherits PointsBase

@if (this.Items is not null)
{
    <br />
    <h3>Your vote: @this.Vote</h3>
    <br />

    foreach (var point in this.Items)
    {
        var uri = $"_content/PointingPoker.Razor/img/{point.Value}.png";

        <Figure Class="zoom" Size="FigureSize.Is128x128" onclick="@(()=> this.OnFigureClick(point.Value))">
            <FigureImage Source="@uri" AlternateText="@point.Display" />
            <FigureCaption>@point.Display</FigureCaption>
        </Figure>
    }
}